<h1>Trips Menu</h1>
<h2>Total Number of Trips: <%= current_user.trips.count %></h2>

<div>
	<ul>
		<head>Trips By Location</head>
		<% current_user.locations.each do |location| %>
			<li><%= location.name %> <%= link_to "Add Trip", new_trip_path(location.id) %>
				<br>
				Total Number of Trips: <%= (location.trips & current_user.trips).count %>
				<br>
				<% if (location.trips & current_user.trips).count > 0 %>
					<% (location.trips & current_user.trips).each do |trip| %>
						<ul>
							<li>Trip Name: <%= trip.name %> | <%= link_to "Edit Trip", edit_trip_path(trip.id) %> | <%= link_to "Delete Trip", delete_trip_path(trip.id), method: "post"  %>
							</li>
						</ul>
					<% end %>
				<% end %>
			<br>
			</li>
		<% end %>
	</ul>