<h1 class="title">Trips Menu</h1>
<p>Use CharterTracker to log and rate your fishing trips.</p><br />
<p><span class="bold-me">Trips Recorded: </span><%= current_user.trips.count %></p><br />

<% @my_locations.each do |location| %>

	<h3><%= location.name %>
		<div class="button-container"><%= button_to "Add Trip", new_trip_path(location.id), method: "get"%>
		</div></h3>
	Trips to <%= location.name %>: <%= (location.trips & current_user.trips).count %><br />


	
	<% if (location.trips & current_user.trips).count > 0 %>
		<% (location.trips & current_user.trips).each do |trip| %>
			<table class="trips-table">	
				<tr>
					<th>Name</th>
					<td><%= trip.name %></td>
				</tr>
				<tr>
					<th>Date</th>
					<td><%= trip.date.strftime("%m/%d/%Y")%></td>
				</tr>
				<tr>
					<th>Vessel</th>
					<td>
						<% if trip.vessel.length == 0 %>
							N/A
						<% else %>
							<%= trip.vessel %>
						<% end %>
					</td>
				</tr>
				<tr>
					<th>Captain</th>
					<td>
						<% if trip.captain.length == 0 %>
							N/A
						<% else %>
							<%= trip.captain %>
						<% end %>
					</td>
				</tr>
				<tr>
					<th>Rating</th>
					<td><%= trip.rating %></td>
				</tr>
				<tr>
					<th>Comments</th>
					<td><%= trip.comments %></td>
				</tr>
			</table><br />
			<div class="button-container">
				<%= button_to "Edit Trip", edit_trip_path(trip.id), method: "get" %>
			</div>
			<div class="button-container">
				<%= button_to "Delete Trip", delete_trip_path(trip.id), method: "post"  %>
			</div>
		<br />
		<br />
		<% end %>
	<% end %>
	<hr>
<% end %>