<h1>Trips Menu</h1>
<h2>Total Number of Trips: <%= current_user.trips.count %></h2>

<div>
	<ul>
		<head>Trips By Location</head>
		<% @my_locations.each do |location| %>
			<li><%= location.name %> <%= link_to "Add Trip", new_trip_path(location.id) %>
				<br>
				Total Number of Trips: <%= (location.trips & current_user.trips).count %>
				<br>
				<% if (location.trips & current_user.trips).count > 0 %>
					<% (location.trips & current_user.trips).each do |trip| %>
						<ul>
							<li><strong>Trip Name: </strong> <%= trip.name %>
								<br>
								<strong>Vessel: </strong>
									<% if trip.vessel.length == 0 %>
										N/A
									<% else %>
										<%= trip.vessel %>
									<% end %>
								<br>
								<strong>Captain: </strong>
									<% if trip.captain.length == 0 %>
										N/A
									<% else %>
										<%= trip.captain %>
									<% end %>
								<br>
								<strong>Rating: </strong><%= trip.rating %>
								<br>
								<strong>Trip Date: </strong><%= trip.date.strftime("%m/%d/%Y") %>
								<%= button_to "Edit Trip", edit_trip_path(trip.id), method: "get" %>
								<%= button_to "Delete Trip", delete_trip_path(trip.id), method: "post"  %>
							</li>
						</ul>
					<% end %>
				<% end %>
			<br>
			</li>
		<% end %>
	</ul>