<h1>Trips Menu</h1>

<div>
	<ul>
		<head>Trips By Location</head>
		<% current_user.locations.each do |location| %>
			<li><%= location.name %> <%= link_to "Add Trip", new_trip_path(location.id) %>
				<br>
				Total Number of Trips: <%= location.trips.count %>
				<br>
				<% if location.trips.count > 0 %>
					<% current_user.locations.find(location.id).trips.each do |trip| %>
						<ul>
							<li>Trip Date: <%= trip.date %> | <%= link_to "Edit Trip", edit_trip_path(trip.id) %> | <%= link_to "Delete Trip", delete_trip_path(trip.id), data: {location_id: current_user.locations.find(location.id).id}, method: "post"  %>
							</li>
						</ul>
					<% end %>
				<% end %>
			<br>
			</li>
		<% end %>
	</ul>

</div>