<%= render partial: "form", locals: {trip: @trip, :location_id => @location_id} %>

<%= link_to 'Home', root_path %>


<h1><%= :location_id %></h1>
<h1><%= :location_id.class %></h1>
<h1><%= @bla %></h1>
