<h1 class="title">Admins Menu</h1>

<div>
	<span class="bigger-font">Locations Pending: </span><%= @pending_locations.count %><br />

	<ul>
		<% @pending_locations.each do |location| %>
			<li>
				• <%= location.name %>
				<div class="button-container"><%= button_to "Approve", approve_path(location.id), method: 'post' %></div>
				<div class="button-container"><%= button_to "Reject", reject_path(location.id), method: 'post' %></div>
			</li>
		<% end %>
	</ul><br />

	<span class="bigger-font">Total Users: </span><%= @all_users.count %><br />

	<ul id="user-list">
		<% @all_users.each do |user| %>
			<li>
				Name: <%= user.name %><br />
				Email: <%= user.email %><br />
				Admin: <%= user.admin %><br />
				Image Count: <%= user.images.count %><br />
				<div class="button-container">
					<%= button_to "Edit Images", image_police_path(user.id), method: 'get' %>
				</div>
				<br />
			</li>
		<% end %>
	</ul>
</div>


