<h1>Welcome to Charter Tracker <%= current_user.name %>!</h1>

<div id="home-menu">
	<%= link_to "Locations Menu", locations_path %>

	<%= link_to "Trips Menu" , trips_path %>

	<%= link_to "Tracker Menu", chart_path %>
</div>

<div id="leaderboards">
	<h3>Leaderboards</h3>
	<br>
	<% @topten.each do |user| %>
	Name: <%= user.name %>
	<br>
	Trips Contributed: <%= user.trips_counter %>
	<br>
	<hr>
	<% end %>
</div>

<br>
<br>
<div>
</div>