<h1 class="bold-me center-me">Welcome to CharterTracker <%= current_user.name %>!</h2>

<div>
	<h2 class="title">Leaderboard</h2>
	<p class="center-me font-roboto">Get on the leaderboard to share your gallery!</p><br />

	<% @topten.each do |user| %>
		<span class="big-font">Name:</span> <%= user.name %><br />
		<span class="big-font">Trips Contributed: </span><%= user.trips_counter %><br />
		<br />

			<% if user.images.count > 0 %>
				<% user.images.each do |image| %>
					<div class="center-me three columns">
						<%= link_to image_tag(image.data_url(:thumb).to_s), image_path(image) %>
					</div>
				<% end %>
			<% else %>
				<p class="center-me"><%= user.name %>'s gallery is empty</p>
			<% end %>
		<hr>
	<% end %>
</div>