<h1>Welcome to Charter Tracker <%= current_user.name %>!</h1>

<div id="home-menu">
	<%= link_to "Locations Menu", locations_path %>

	<%= link_to "Trips Menu" , trips_path %>

	<%= link_to "Tracker Menu", chart_path %>
</div>

<div id="leaderboards">
	<h3>Leaderboards</h3>
	<br>
	<% @topten.each do |user| %>
	Name: <%= user.name %>
	<br>
	Trips Contributed: <%= user.trips_counter %><br />
	<br />
		<% user.images.each do |image| %>
		<%= link_to image_tag(image.data_url(:thumb).to_s), image_path(image) %><br />
		<% end %>
	<hr>
	<% end %>
</div>

<br>
<br>
<div>
</div>