<div id="sign-in-container" class="sixteen columns">
	<div id="sign-in-form-container">
		<h2>CharterTracker</h2>
		<p><em>Find the hottest ports for charter fishing trips without any flamewars.</em></p><br />
		<br />
		<h3>Sign in</h3>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<%= f.label :email %>
			<%= f.email_field :email, :autofocus => true %><br />

			<%= f.label :password %>
			<%= f.password_field :password %><br />

			<%= f.submit "Sign in" %>
		<% end %>
		
		<%= render "devise/shared/links" %><br />
		<br />
		<br />
	</div>
	<hr>
	<div id="sign-in-visitor-container">
		<h2>Just Visiting?</h2>
		<p>Check out the latest charter trip ratings by port for the last 30 days</p><br />
		<%= button_to "Visitor", chart_path, method: :get %>	
	</div>
</div>