<h3>Locations Menu</h3>

<div>
	<div>Create a new location for admin approval<%= button_to "click" %></div>
	<br>
	<% current_user.locations.each do |location| %>
		<%= location.name %> <%= button_to "View Trips" %> <%= button_to "Edit"%> <%= button_to "Delete" %>
		<br>
	<% end %>
</div>
