<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chartertracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="login-bar">
    <% if user_signed_in? %>
      <strong><%= current_user.email %></strong> |
      <%= link_to "Home", root_path %> |
      <%= link_to 'Profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

    <% else %>
      <%= link_to "Home", root_path %> |
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </div>

  <div class="container">

    <div id="login-alert-container">
      <% if notice %>  
        <p class="alert alert-notice"><strong><%= notice %></strong></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><strong><%= alert %></strong></p>
      <% end %>
    </div>

    <div id="main-view-container" class="sixteen columns">
      <%= yield %>
    </div>
  </div>

</body>

</html>

